<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~pesj13/phpmvc/triplegemref/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>
