/**
* Description: Sample theme for site which extends the TripleGem grid-theme.
*/
@import url(../../../themes/grid/style.css);
@import url(http://fonts.googleapis.com/css?family=Exo+2);

html{background-color:#222;}
body{background-color:#444; font-family: 'Exo 2', sans-serif;}
#outer-wrap-header{background-color:#444;border-bottom:1px solid #CFC}
#outer-wrap-footer{background-color:#222}
p{	
	color:#EEE;
}
a{	
	color:#CFC;
}
h1,h2,h3,h4,h5,h6{
	color:#EEE;
}
li{
	color:#EEE;
}
code{
	color:#EEE;
}
#site-slogan {
	color:#FFF;
}